---
layout: archive
---

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].breadcrumb_home_label | default: "Home" }}</h3>
I don't just love 90s websites, but also 90s parties. No, I don't want your number, but if you want mine, consider my engineering services available at <a href="https://applico.engineering">Applico Engineering</a>

I used to love Ja Rule, but after this Fyre Festival tragedy, I realized that I should get into the party business myself. I have all the ingredients to make a great party:
<ul>
    <li>Guns</li>
    <li>Search traffic</li>
    <li><a href="http://williamdalpe.engineering">Minions</a></li>
    <li><a href="https://applico.engineering">Zeppelins</a></li>
    <li>Natural referrals</li>
    <li><a href="http://williamdalpe.engineer">Exclusive party locations</a></li>
</ul>
<center>
    <a href="https://www.paypal.me/kokociel/2000usd"><img src="/assets/images/Beyoncé.gif"></a>
</center>
{% if page.comments %}
<div id="disqus_thread"></div>

<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://billdalpe-com.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                                
{% endif %}
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>